<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="ServerLDAP" value="192.168.100.7"/>
    <add key="UserLDAP" value="systemmkt\uds.agentevirtual"/>
    <add key="SenhaLDAP" value="#agent3v!rtual!"/>
  </appSettings>
  <connectionStrings>
    <add name="AgenteVirtualConfig" connectionString="Data Source=sdev003;Initial Catalog=AgenteVirtual_Sky;Integrated Security=False;User ID=usrAgenteVirtual; Password=usrAgenteVirtual"/>
  </connectionStrings>
</configuration>